:root{
    --navbar-height:0;
    --tertiary-color:#A4866B;
    --base-color:white;
    --primary-color: #DCE4E2;
    --secondary-color:#002169;
    --text-color:#365185;
}
html{
    width:100%;
    height:100%;
    color:var(--text-color);
    background:var(--base-color);
    font-family:"Raleway", sans-serif ;
}
*{
    padding:0;
    margin:0;
    /*Makes it so that meausrment such as borders are included in overall width*/
    box-sizing:border-box;
  
  }
.sub-text{
    margin: auto 5%;
}
.special-banner{
    color:var(--tertiary-color);
}
.banner{
    text-align:center;
    background-color:var(--text-color) !important;
    color:var(--base-color);
    width:100%;
    height:40px;
    /*May need to edit this later*/
    line-height:40px;
}

/*Styling for header*/
li{
    /*Gets rid of bullet points for unordered list elements*/
    list-style:none;
  }
  
a{
    color:var(--secondary-color);
    text-decoration:none;
  }
 
  .nav-link:hover{
        text-decoration:underline;
    }

  
  @media(min-width:701px){
    .colby-logo{
        height:60px;
        width:60px;
    }
    a{
        color:var(--primary-color) ;
    }
    .icon-menu{
        color:var(--primary-color) !important;
    }
    li{
        display:inline;
    }
    .navbar{
        width:100%;
        position:relative;
    
      }
    .nav-menu{
        position:absolute;
        width:100%;
        display:flex;
        justify-content:space-evenly;
        align-items:center;
        z-index:1;
        font-size:1.2em;
        
    }
     /*Controls amount of space logo of college can display in for schedule*/
    .compress-image{
        width:5vw;
    }
    /*Controls amount of space name of college can display in for schedule*/
    .compress-name{
        width:40vw;
    }

  }
  @media(max-width:700px){
    .colby-logo{
        width:35px;
        height:35px;
        margin:10px 0 0 0;
        object-fit:fill;
    }
    .banner{
        font-size:0.8em;
    }
    .navbar{
        width:100%;
        position:relative;
      }
      .bar{
        display:block;
        width:25px;
        height:3px;
        background-color:var(--secondary-color);
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
      }
   
    .hamburger{
        cursor:pointer;
        z-index:1;
        position:absolute;
        left:90%;
    }
    .hamburger.active .bar:nth-child(2){
      opacity:0;
    }
    .hamburger.active .bar:nth-child(1){
      transform:translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
      transform:translateY(-8px) rotate(-45deg);
    }
    .nav-menu{
        position:absolute;
        left:-100%;
    }
    .nav-menu.active{
        /*Hides menu from view*/
        top:var(--navbar-height);
        gap:0;
        display:flex;
        flex-direction:column;
        align-items:center;
        width:40%;
        height:100%;
        left:0;
        transition:0.3s;
        background-color:var(--primary-color);
        z-index:2;
      }
      .nav-item{
        margin:10px 10px;
      }
  }
/*End of styling for header*/
/*styling for photo carousel*/
.slider{
    width:100%;
    /*Blends in with background so that desktop view doesn't scrunch box shadow*/
    /* border:3px solid var(--base-color); */

}
.wrapper{
    width:100%;
    /* box-shadow: 0 0 0 3px var(--primary-color);
    border-radius:3px;
     */
}


.slider img{
    width:100%;
    /* border-radius:3px; */

}
.fade{
    animation:fade 3s;
}
@keyframes fade {
    from {
        opacity: 0.4;
    } 
    to {
        opacity: 1;
    }
}
/*end of styling for photo carousel*/
/*Styling for main elements*/
.section-header{
    margin:5vh 5%;

    font-size:1.5em;
}

/*Schedule styling*/
.schedule-logo{
    max-width:8vh;
    max-height:8vh;
    object-fit:fill;
    
}
table{
    width:90%;
    margin:0 5%;
    /*Gets rid of all the borders for tr*/
    border-collapse:collapse;
}
/*Have some schedule settings in bigger screen view*/
.row{
    height:10vh;
}
.row:nth-child(odd){
    background-color:var(--primary-color);
   
}
/*Rounds corner of logo area for table row*/
td:nth-child(1){
    border-top-left-radius:3px;
    border-bottom-left-radius:3px;
}
/*Rounds corner of date (TBD) area for table row*/
td:nth-child(3){
    border-top-right-radius:3px;
    border-bottom-right-radius:3px;
}
.vs{
    background-color:var(--secondary-color);
    color:var(--primary-color);
    padding:0 4px;
    font-size:0.7em;
}
.at{
    font-size:0.7em;
    background-color:var(--text-color);
    color:var(--primary-color);
    padding:0 4px;
}
/*End of schedule*/
/*Contact us section*/
.contact-us{
    display:flex;
    width:90%;
    margin: 0 5%;
    align-content:center;
}

input, textarea{
    margin:10px 0 0 0;
    width:90%;
    min-height:2em;
    background-color:var(--primary-color);
    box-shadow: 0 0 0 3px var(--primary-color);
    border:none;
    color:var(--text-color);
    border-radius:3px;
  

}
input[type="submit"]{
    background-color:var(--secondary-color);
    color:var(--primary-color);
}
::placeholder{
    color:var(--text-color);
    padding:0 0 0 5px;
}
/*End of styling for contact us*/
/*Styling for announcements*/

/*icon styling*/

i:not(.first-icon){
    padding:1vw;

}
i{
    color:var(--secondary-color);
}
i:not(.icon-menu){
    margin: 5%;

}

